<IfModule mod_rewrite.c>
	RewriteEngine On
 	
 	# Rewrite non file URLs to index.php/URL
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule (.*) index.php?url=$1 [L,QSA]
	
</IfModule>
<IfModule !mod_rewrite.c>
	ErrorDocument 404 error.php
</IfModule>